﻿
/*Minimizing Dashborad Paddings In This CSS============*/

/*===============================================         Profile        ==========================================*/

.profile-usermenu ul li.active a {font:normal 15px IRANSansWeb;}
.profile-userbuttons .btn {font:normal 12px IRANSansWeb;padding: 3px 15px;}
.profile-usertitle-name {font:bold 14px IRANSansWeb;font-weight: 500 !important;}
.profile-usertitle-job {font:bold 14px IRANSansWeb;}
.portlet.light>.portlet-title>.nav-tabs>li>a{font:bold 15px IRANSansWeb;}
.well.profile-info {font:normal 12px IRANSansWeb;text-align:justify;direction:rtl;padding: 40px;}
.portlet > .portlet-title > .nav-tabs {float:right;}
.portlet.light > .portlet-title > .nav-tabs > li > a {padding:12px 40px ;}
.portlet > .portlet-title {margin-bottom:0;}
.portlet.light {padding: 5px 20px 25px;}
.table .btn {font:normal 13px IRANSansWeb;}
.portlet.box > .portlet-body { padding: 5px;}
.portlet {margin-bottom:15px;}
.note {margin: 0 0 15px;}
.btn-new-user { padding: 6px 10px;}
.icon-user-follow {font-size:18px;padding-top:3px;padding-left: 5px;}
.btn-form {width:100px;margin:0 5px;}
.icon-note {padding-left:3px;}
.btn-row {margin:10px 0;text-align: left;}
.btn-operation{width: 190px;min-width: 190px;text-align: left;}
.th-operation{width: 190px;min-width: 190px;}
.form-actions{padding: 20px; margin: 0;background-color:#f1f1f1 !important;text-align:left;border-top: 1px solid #e0e0e0 !important;}
.profile-usertitle-job{ text-transform: lowercase !important;}